<!DOCTYPE html>
<html>
<head>
<title>Treating v. Attacking Violence</title>
 <meta charset="utf-8">


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style> /* set the CSS */
.axis--x path {
  display: none;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}


</style>


</head>

<body>
  
  <div class="jumbotron text-center" style="background-color:#cc0000; color: white;text-shadow: 1px 1px 1px #333; margin:0px">
 <h2 style="margin: 20px;">A critical examination for the need of community NGOs such as Cure Violence.</h2>
   
</div>

 
  <div style="background-image: url('/static/img/protest.jpg'); width: 100%; height: 350px; background-repeat: no-repeat; background-size: 100%; color: red; text-align: center;">
<!--     <h3>When vioelnce is a disease, you need a proper cure</h3> -->
   
  </div>
 


<div class="row">

<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 line"id="homicide" style="border: 2px solid #cc0000; margin-top: 10px; margin-bottom:10px;">
  <h3 style="text-align:center;">Homicide Graph</h3>
  <div class="container">
    
    <span class="red" style="border: 4px solid red; width: 4px; "></span>
    <span>Homicide rate</span>
    <br>

    <span class="black" style="border: 4px solid black; width: 4px; "></span>
     <span>Chicago PD funding X 100,000</span>
     <br>
    <span class="blue" style="border: 4px solid green; width: 4px; "></span>
    <span>NGO non-violence funding(Siginificant amount given to Cure Violence)</span>
    <br>
</div>
</div>


</div>


<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" id="pd-info" style="padding:20px; border: 2px solid #cc0000;">

  <h3 style="text-align:center;">Chicago P.D.'s Mission</h3>
  <ul>
     <li>Protect the lives, property, and rights of all people, to maintain order, and to enforce the law impartially.</li>
      <li>Provide quality police service in partnership with other members of the community.</li> 
      <li>Strive to attain the highest degree of ethical behavior and professional conduct at all times.</li>
  </ul>
</div>
</div>

<div class="row" style="margin-top:10px;">
<div id="cv-info" class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="padding:20px; border: 2px solid #cc0000;">
  <h3 style="text-align:center;">Cure Violence Mission</h3>
  <ul>
    <li>Trained violence interrupters and outreach workers prevent shootings by identifying and mediating potentially lethal conflicts in the community, and following up to ensure that the conflict does not reignite.</li> 
    <li>Trained, culturally-appropriate outreach workers work with the highest risk to make them less likely to commit violence by meeting them where they are at, talking to them about the costs of using violence, and helping them to obtain the social services they need – such as job training and drug treatment.</li>
    <li>Workers engage leaders in the community as well as community residents, local business owners, faith leaders, service providers, and the high risk, conveying the message that violence should not be viewed as normal but as a behavior that can be changed.</li>

  </ul>
</div>
</div>



<footer>
  <div style="width: 100%; height: 50px; color: red;">
   
  </div>

</footer>



<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="/static/js/total-cides-d3.js"></script> -->
<script>

// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 800 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// parse the date / time
var parseTime = d3.timeParse("%Y");

// set the ranges
var x = d3.scaleTime().range([0, width]);
var y0 = d3.scaleLinear().range([height, 0]);
var y1 = d3.scaleLinear().range([height, 0]);
var y2 = d3.scaleLinear().range([height, 0]);

// define the line
var valueline = d3.line()
    .x(function(d) { return x(d.Year); })
    .y(function(d) { return y0(d.TotalBudget); });

var valueline2 = d3.line()
    .x(function(d) { return x(d.Year); })
    .y(function(d) { return y1(d.TotalHomicides); });

var valueline3 = d3.line()
  .x(function(d) { return x(d.Year); })
  .y(function(d) { return y2(d.CureViolencefunding); });

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#homicide").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Get the data
d3.csv("/static/csv/d3data.csv", function(error, data) {
  if (error) throw error;

  // format the data
  data.forEach(function(d) {
      d.Year = parseTime(d.Year);
      d.TotalBudget = +d.TotalBudget;
      d.TotalHomicides = +d.TotalHomicides;
      d.CureViolencefunding = +d.CureViolencefunding;
  });

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.Year; }));
  y0.domain([0, d3.max(data, function(d) { return Math.max(d.TotalBudget); })]);
  y1.domain([0, d3.max(data, function(d) { return Math.max(d.TotalHomicides); })]);
  y2.domain([0, d3.max(data, function(d) { return Math.max(d.CureViolencefunding); })])

  // Add the valueline path.
  svg.append("path")
      .data([data])
      .attr("class", "line")
      .attr("d", valueline)
      .append('svg:title')
        .text(function(d) { return d.TotalBudget; });

  svg.append('path')
      .data([data])
      .attr('class', 'line')
      .style('stroke', 'red')
      .attr('d', valueline2)
      .append('svg:title')
        .text(function(d) { return d.TotalHomicides; });

  svg.append("path")
      .data([data])
      .attr("class", "line")
      .style('stroke', 'green')
      .attr("d", valueline3)
      .append('svg:title')
        .text(function(d) { return d.CureViolencefunding; });

  // Add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
      .attr('class', 'axisMoney')
      .call(d3.axisLeft(y0));

  svg.append("g")
      .attr('class', 'axisDeath')
      .attr("transform", "translate( " + width + ", 0 )")
      .call(d3.axisRight(y1));

  svg.append("g")
      .attr('class', 'axisCure')
      .attr("transform", "translate( " + width + ", 0 )")
      .call(d3.axisLeft(y2));    
});

</script>

<script>

</script>


</body>


</html>